<div ui-view>
  <div class="col-md-12">
    <div ng-controller="navCtrl">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="http://vignette3.wikia.nocookie.net/mlp/images/6/64/Animated_fire_icon.gif/revision/latest?cb=20140615052145" height="25" width="25">
            </a>
            <ul class="nav navbar-nav navbar-left">
              <li><a ui-sref="about">About</a></li>
              <li ng-if="!isAuthenticated()"><a ui-sref="login">Sign In</a></li>
            </ul>
            <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
              <li><a ng-click="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


    <div ng-controller="profileCtrl">
      <div class="container">
        <div ng-repeat="user in users" class="row">
          <!-- Card Projects -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-image">
                <img class="img-responsive" ng-src="{{user.picture}}">
              </div>

              <div class="card-content">
                <p>{{user.displayName}}</p>
              </div>

              <div class="card-action">
                <a ng-click="startChat(user)">Chat</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
